body{
    margin: 0;
    padding: 0;
    background-color:#714a41;
}

.navBar{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: aliceblue;
}

.bestPanel{
    border-radius: 25px;
    background-color: aliceblue;
}

.loginPanel{
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    background-color: aliceblue;
    border-radius: 25px;
}